<Project>
    <PropertyGroup>
        <BuildInParallel>false</BuildInParallel>
        <ModDeployDir>..\LUATRAMA_DEBUG_LOCALMODS_MYMODDIR\</ModDeployDir>
        <AssemblyName>MyModName</AssemblyName>
    </PropertyGroup>
</Project>